# Package typings.
/node_modules/

# Unused JavaScript distribution.
/dist/
/src/**/*.js

# IDE files.
/.vscode/

# Keep VS Code recommended extensions in Git. 
!.vscode/extensions.json
/.vs/
/.idea/

# File for testing HTTP requests.
.rest