name: Validate library's code quality.

on:
    push:
        branches:
            - main
            - development
    pull_request:
        branches:
            - main
            - development

defaults:
    run:
        working-directory: ./
        shell: bash

jobs:
    lint:
        name: Validate library's code quality.
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Set up Node.js
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Run ESLint script and validate
              run: bun run lint

            - name: Build a project using TypeScript Compiler
              run: bun exec tsc

            - name: Build a project
              run: bun run build
