name: Validate library's code quality.

on:
    push:
        branches:
            - main
            - development
    pull_request:
        branches:
            - main
            - development

defaults:
    run:
        working-directory: ./
        shell: bash

jobs:
    lint-bun:
        name: Validate library's code quality using Bun.
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Setup Bun.
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Run ESLint script and validate
              run: bun run lint

            - name: Build a project using TypeScript Compiler
              run: bun exec tsc

            - name: Build a project
              run: bun run build

    lint-node:
        name: Validate library's code quality using Node.js.
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Setup Node.js.
              uses: actions/setup-node@v6
              with:
                  node-version: latest

            - name: Setup PNPM.
              uses: pnpm/action-setup@v4
              with:
                  version: latest

            - name: Install dependencies
              run: pnpm install

            - name: Run ESLint script and validate
              run: pnpm exec eslint .

            - name: Build a project using TypeScript Compiler
              run: pnpm exec tsc

            - name: Build a project
              run: pnpm exec tsup && node ./scripts/build-library.ts
